.text {
    font-style: Noteworthy;
    font-weight: bold;
    color: #5D5757;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27pt;
}
.title {
    margin-top: 30pt;
}
.new {
    width: 300pt;
    height: 300pt;
}
.slider {
    /* margin-top: 50pt; */
    height: 300pt;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.homepage {
    /* margin-left: 50% - 187pt; */
    margin-left: 10%;
    width: 375pt;
    height: 1760pt;
    background-color:crimson;
}
.imagebox {
    width: 100%;
}
.bigimage {
    margin-top: 10pt;
    margin-left: 25%;
    width: 200pt;
    height: 200pt;
}
.space {
    /* background-color: green; */
    z-index: -1;
    height: 100pt;
    width: 100%;
}
.newbutton {
    position: absolute;
    margin-bottom: 0;
    background-color: #E6E8FF;
    border-radius: 10%;
    width: 300pt;
    height: 200pt;
    z-index: -1;
}
.box {
    position: absolute;
    width: 100%;
}