$font : Noteworthy;
.text {
    font-style: $font;
    font-weight: bold;
    color: #5D5757;
    text-align: center;
    font-size: 27pt;
}
.title {
    margin-top: 30pt;
}
.new {
    width: 100%;
    height: 300pt;
}
.normal {
    width: 50%;
    height: 300pt;
}
.slider {
    height: 300pt;
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
}
.categories {
    width: 100%;
    height: 100%;
}
.homepage {
    width: 375pt;
}
.imagebox {
    width: 100%;
}
.newImage {
    margin-top: 10pt;
    margin-left: 25%;
    width: 200pt;
    height: 200pt;
}
.image {
    margin-top: 10pt;
    width: 150pt;
    height: 150pt;
    margin-left: 5%;
}
.space {
    z-index: -1;
    height: 100pt;
    width: 100%;
}
.newSpace {
    z-index: -1;
    height: 50pt;
    width: 100%;
}
.line {
    margin-top: 10%;
    width: 100%;
    height: 170pt;
    display: flex;
    justify-content: space-between;
}
.button {
    position: absolute;
    margin-bottom: 0;
    border-radius: 10%;
    width: 170pt;
    height: 170pt;
    z-index: -1;
}
.newButton {
    position: absolute;
    margin-bottom: 0;
    background-color: #E6E8FF;
    border-radius: 10%;
    width: 300pt;
    height: 200%;
    z-index: -1;
}
.box {
    position: absolute;
    width: 300pt;
}
.newBox {
    position: absolute;
    width: 175pt;
}
.centerer {
    width: 100%;
    height: 170pt;
}